:root {
    --bg: #090F1B;

    --body-text: #fff;
    --grey-2: #828282;
    --grey-3: #BDBDBD;
    --grey-4: #E0E0E0;
    --grey-5: #F2F2F2;

    --hyper-link: #2489F4;

    --primary: #FF609E;

    --bgr-2nd: #F8F7FF;
}